<%= stylesheet_link_tag 'home' %>
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' >
<%= image_tag "home" + ".jpg", class: "full-background"%>
<div id="title" class="centered">
  <span style="font-size:10px;">BIENVENUE SUR GALAXY EXPLORER</span>
  <br>
  <span><%= link_to 'VERS L\'INFINI & AU-DELA', planets_path %></span>
</div>
</body>
