<h1> Liste </h1>

<table>
	<thead>
		<th>Nom</th>
		<th>Quality Coeff</th>
		<th>Max_Dist</th>
	<thead>
	<tbody>
		<% @transportss.each do |transports| %>
		<tr>
			<td><%= transports.name %></td>
			<td> <%= transports.quality_coeff %></td>
			<td> <%= transports.max_dist %></td>
		</tr>
		<% end %>
	</tbody>
</table>
